In [2]:
A = {1,1,2}
B = [1,1,2]
len(A), len(B)

(2, 3)

In [1]:
def subset(A,B):
    for x in A:
        if x not in B:
            return False
    return True

In [2]:
subset({1,2},{1,2,3,4})

True

In [3]:
set()<={1,2,3}

True

In [4]:
{1,2,3}|{3,4,5}

{1, 2, 3, 4, 5}

In [5]:
{1,2,3,4}&{3,4,5,6,7}

{3, 4}

In [6]:
{1,2,3}&{4,5,6}

set()

In [7]:
{1,2,3,4}-{1,2}

{3, 4}

In [8]:
{1,2}-{1,2,3,4}

set()

In [9]:
{3,4,5}-{1,2,3,4}

{5}

In [10]:
def union(A,B):
    result = set()
    for x in A:
        result.add(x)
    for x in B:
        result.add(x)
    return result

In [11]:
def intersection(A,B):
    result = set()
    for x in A:
        if x in B:
            result.add(x)
    return result

In [12]:
def difference(A,B):
    result = set()
    for x in A:
        if x not in B:
            result.add(x)
    return result

In [13]:
union({1,2,3},{3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [15]:
intersection({1,2,3,4},{3,4,5})

{3, 4}

In [16]:
difference({1,2,3,4},{3,4,5})

{1, 2}

In [17]:
A = {1,2,3}
A.intersection({3,4})

{3}

In [18]:
A = {1,2,3}
A.union({4,5,6})

{1, 2, 3, 4, 5, 6}

In [19]:
A = {1,2,3}
A.difference({3,4,5})

{1, 2}

In [22]:
A = {1,2,3}
B = {1,2,3}
C = {1,2,3}
AA = A
BB = B
CC = C
A.add(4)
B |= {4}
C = C | {4}
AA, BB, CC

({1, 2, 3, 4}, {1, 2, 3, 4}, {1, 2, 3})

In [23]:
AA.remove(2)
AA

{1, 3, 4}

In [27]:
set(range(3,30,2))

{3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29}

In [44]:
A = set(range(100))
D = set()
for n in A:
    if n < 42 and n % 3 != 0:
        D.add(n)
D

{1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41}

In [45]:
D = {n for n in A if n<42 and n%3 != 0}
D

{1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41}

In [32]:
from fractions import Fraction

In [35]:
Y1 = {Fraction(1,n) for n in range(1,101)}

In [37]:
from math import sqrt
sqrt(1048576)

1024.0

In [40]:
Y2 = {n**2 for n in range(21)}

In [41]:
Num = {1,2,5}
Den = {3,7,9,11}
A = set()
for n in Num:
    for d in Den:
        A.add(Fraction(n,d))
A

{Fraction(1, 11),
 Fraction(1, 9),
 Fraction(1, 7),
 Fraction(2, 11),
 Fraction(2, 9),
 Fraction(2, 7),
 Fraction(1, 3),
 Fraction(5, 11),
 Fraction(5, 9),
 Fraction(2, 3),
 Fraction(5, 7),
 Fraction(5, 3)}

In [43]:
A = {Fraction(n,d) for n in Num for d in Den}
A

{Fraction(1, 11),
 Fraction(1, 9),
 Fraction(1, 7),
 Fraction(2, 11),
 Fraction(2, 9),
 Fraction(2, 7),
 Fraction(1, 3),
 Fraction(5, 11),
 Fraction(5, 9),
 Fraction(2, 3),
 Fraction(5, 7),
 Fraction(5, 3)}

In [51]:
A = set(range(-2,4))
A

{-2, -1, 0, 1, 2, 3}

In [57]:
B = set()
N = {-2,-1,0,1,2,3}
D = {-2,-1,0,1,2,3}
for n in N:
    for d in D:
        B.add(n*d)
B

{-6, -4, -3, -2, -1, 0, 1, 2, 3, 4, 6, 9}

In [58]:
len(B)

12