In [ ]:
#160
zb: (1,2), (1,3), (2,1), (3,1)

In [ ]:
#161
sqrt(2), sqrt(-2), 0
-> Mächtigkeit = 3

In [ ]:
#162
B = {0, -1, 1, -2, 2, -3, 3, -4, 4, -6, 6, 9}
|B| = 12

In [9]:
#163
from sympy import primepi
M = {prime(1), prime(2), prime(3), prime(4), prime(5), prime(6), prime(7), prime(8), prime(9), prime(10), prime(11), prime(12), prime(13), prime(14), prime(15), prime(16), prime(17), prime(18), prime(19), prime(20), prime(21), prime(22)}
M

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79}

In [16]:
from fractions import Fraction
D = set()
for num in M:
    for den in M:
        if Fraction(num,den) not in D:
            D.add(Fraction(num,den))
len(D)

463

In [ ]:
#164
gcd von Primmzahlen immer 1:
-> 23*1 = 23

In [19]:
#165
def sieve(n):
    primes = []
    numbers = list(range(2,n))
    c = 2
    while c*c < n:
        for k in range(c,n,c):
            if k in numbers:
                numbers.remove(k)
        primes.append(c)
        c = numbers[0]
    return primes + numbers

In [23]:
M = sieve(174)
len(M)

40

In [24]:
D = set()
for m in M:
    for n in M:
        D.add(m*n)
len(D)

820

In [27]:
#169
#keine
A = {(n, n+1, n+2) for n in range(43)}
len(A)

43

In [ ]:
#170
Mächtigkeit von B = 42

In [ ]:
#171
absteigend:
B - E - A - D - C

In [ ]:
#172
|B geschnitten C| = 9

In [ ]:
#173
500+500+200-225-100-100+50 = 825

In [9]:
#174
letters = "ABCDEFGH"
M = set()
for a in letters:
    for b in letters:
        for c in letters:
            for d in letters:
                chain = a + b + c + d 
                if chain[0] == "A" or chain[1] == "B" or chain[2] == "C":
                    M.add(chain)
len(M)

1352

In [8]:
#175
letters = "ABCDEF"
M = set()
for a in letters:
    for b in letters:
        for c in letters:
            for d in letters:
                chain = a + b + c + d
                if chain[0] == "A" or chain[1] == "B" or chain[0] != chain[1]:
                    M.add(chain)
len(M)

1152

In [7]:
#176
letters = "ABCDEFGH"
M = set()
for a in letters:
    for b in letters:
        for c in letters:
            for d in letters:
                chain = a+b+c+d
                if chain[0] == "A" or chain[1] == "B" or chain[2] == chain[3]:
                    M.add(chain)
len(M)

1352

In [10]:
#177
letters = "ABCDEFGH"
M = set()
for a in letters:
    for b in letters:
        for c in letters:
            for d in letters:
                chain = a+b+c+d
                if chain[0] == "A" or chain[1] == "B" or chain[2] != chain[3]:
                    M.add(chain)
len(M)

3704

In [13]:
#178
letters = "ABCDEFG"
M = set()
for a in letters:
    for b in letters:
        for c in letters:
            for d in letters:
                chain = a+b+c+d
                if chain[0] == "A" or chain[1] == "B" or chain[0] != chain[1] != chain[2] != chain[3]:
                    M.add(chain)
len(M)

1753

In [14]:
#179
sum = 0
for k in range(3,177):
    sum += k
sum

15573

In [15]:
#180
sum = 0
for k in range(12, 45):
    sum += k + 3
sum

1023

In [19]:
#181
sum = 0
for k in range(30, 456, 5):
    sum += k
sum

20855

In [30]:
#182
sum = 0
for k in range(110, 0, -1):
    sum += ((k**2) + k + 1)
    if sum == 425546:
        break
print(k)
print(sum)

45
425546

In [32]:
#183
sum = 0
for k in range(42, 1000):
    sum += ((k**2)+ k + 3)
    if sum == 950309:
        break
print(k)
print(sum)

142
950309

In [43]:
#184
from sympy import *
a = symbols("a")
sum = 0
for n in range(42, 150):
    sum += ((a*(n**2))+ (a*n) + (3*a))
    if sum == (950309*a):
        break
print(n)
print(sum)

142
950309*a

In [46]:
#185

In [ ]:
#186
a = n

In [ ]:
#187
hängt von c ab

In [64]:
#188
sum = 0
c = 0
L = set()
for n in range(1, 501):
    sum += n
    L.add(sum)
    if sqrt(sum)%1 == 0:
        c += 1
        print(sum)
len(L)

1
36
1225
41616

500

In [65]:
#189
M = set()
for i in range(100):
    if i**2 in L:
        M.add(i**2)
len(M)

3

In [ ]:
#190
----

In [2]:
#191
Rational(5,42)

In [ ]:
#192
Rational(3,43)

In [ ]:
#193
n!*a**n

In [ ]:
#194
(2*n)! * a**2n

In [15]:
#195
from sympy import symbols, Product, factorial
n, k, a = symbols("n k a")
Product((-k*a), (k,1,2*n)).doit()
#-(2*n)! * a**2n

(-a)**(2*n)*factorial(2*n)

In [17]:
#196
Product((factorial(k-1)/factorial(k)),(k,3,142)).doit() * factorial(143)

286